<div class="form-container" [formGroup]="parentForm">
  <div class="form-group">
    <label>Vehicle Make</label>
    <input
      type="text"
      placeholder="Vehicle Make"
      formControlName="vehicleMake"
      name="vehicleMake"
    />
  </div>
  <div class="form-group">
    <label>Vehicle Model</label>
    <input
      type="text"
      placeholder="Vehicle Model"
      formControlName="vehicleModel"
      name="vehicleModel"
    />
  </div>
  <div class="form-group">
    <label>Vehicle Year</label>
    <input
      type="text"
      placeholder="Vehicle Year"
      formControlName="vehicleYear"
      name="vehicleYear"
    />
  </div>
</div>
